html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F2F2F2;
}

h1 {
    font-size: 24px;
    font-weight: 200;
    color: #424f59;
    padding-top: 18px;
}

body {
    font-size: 14px;
    background-color: #fff;
  
    font-size: 14px;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.sign-in {
    text-decoration: none;
    color: #0996f8;
    font-size: 13px;
    font-weight: 300;
    font-family: "Fira Sans",Helvetica,Arial,sans-serif;

}

hr {
   border: none; /* Убираем границу для браузера Firefox */
    color: #8a9ba8; /* Цвет линии для остальных браузеров */
    background-color: #8a9ba8; /* Цвет линии для браузера Firefox и Opera */
    height: 1.2px; /* Толщина линии */
}

a:hover {
    text-decoration: underline;
}

.wrap {
    min-height: 100%;
       
}

.header {
    padding-top: 60px;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 12px;
    height: 30px;
    margin-top: -30px;
    color: #424f59;
}

label {
    width: 300px;
}

label[for=info] {
    /*background: #298eea;*/
    /* color: #565656;*/
}

label[for=error] {
    /*background: #298eea;*/
    color: #b20000;
}

.vertical-form,
.vertical-form-login{
    border-radius: 4px;
    box-shadow: 0 1px 5px #8a9ba8;
    width: 330px;
    height: 370px;
    background: white
}



.vertical-form-bottom {
    width: 330px;
    margin-top: 30px;
    height: 60px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 5px #8a9ba8;
    background: #fcfcfc;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    text-align: left;
    height: auto;
}

.vertical-form input[type='email'],
.vertical-form-login input[type='email']{
    margin-top: 15px;
    background: #fcfcfc;
    border: 1px solid #e7e7e7;
    padding: 10px;
    width: 250px;
    border-radius: 3px;
    font-size: 16px;
    text-align: left;
    height: 40px;
}

.vertical-form input[type='text'],
.vertical-form input[type='password'],
.vertical-form input[type='number'] ,
.vertical-form-login input[type='text'],
.vertical-form-login  input[type='password'],
.vertical-form-login  input[type='number'] {
    background: #fcfcfc;
    border: 1px solid #e7e7e7;
    margin-top: 20px;
    padding: 10px;
    width: 250px;
    font-size: 16px;
    text-align: left;
    height: 40px;
}

.vertical-form input[type='submit'],
.vertical-form-login input[type='submit']{
    color: white;
    background: #0996f8;
    border: 0;
    width: 250px;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}

.vertical-form input:hover[type='submit'],
.vertical-form-login input:hover[type='submit']{
    background-color: #0887df;
    transition: background 0.1s
}
