html, body {
    height: 100%;
        margin: 0;
    padding: 0;
    
}

.main{
    background: #298eea;
}

.wrap {
    min-height: 100%;
    [rel="main"] {
        padding-bottom: 30px;
    }
}

h1{
    color: floralwhite;
}

.header{
    padding-top: 60px;

    text-align: center;
}

footer {
    text-align: center;
    font-size: 12px;
    height: 30px;
    margin-top: -30px;
}

footer a{
    
    border: 0;
    padding: 0;
}

footer a,
footer a:visited {
    text-decoration: underline;
    color: inherit
}




label {
    width: 100%;
}

label[for=info]
{
    /*background: #298eea;*/
    color: #565656;
}

label[for=error]
{
    /*background: #298eea;*/
    color: #b20000;
}



.vertical-form {
    margin: 0 auto;
    width: 330px;
    padding: 40px;
    border-radius: 8px;
    background: white
}





.vertical-form input[type='text'],
.vertical-form input[type='email'],
.vertical-form input[type='password'],
.vertical-form input[type='number'],
.vertical-form input[type='submit'] {
    background: #fcfcfc;
    border: 2px solid #e7e7e7;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 3px;
    font-size: 18px;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
   
}




.vertical-form input[type='submit'] {
    color: white;
    background: #247fd2;
    border: 0;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
    

}

.vertical-form input:hover[type='submit'] {
    background-color: #2072bc;
    transition: background 0.1s
}
